<%- include('header_user') %>
<% if (messages && messages.length) { %>
  <ul>
    <% messages.forEach(function(msg) { %>
      <li><%= msg %></li>
    <% }); %>
  </ul>
<% } %>
<form method="POST" action="/change-password">
  <label>Current Password:</label>
  <input type="password" name="oldPassword" required>
  <br>
  <label>New Password:</label>
  <input type="password" name="newPassword" required>
  <br>
  <button type="submit">Change Password</button>
</form>