<!DOCTYPE html>
<title>Friendified</title>
<link href="style.css" rel="stylesheet">
<script src="form-validation.js" defer></script>
<div class="top">
    <h1>Friendified</h1>
    <p>Make a whole bunch of new friends! Hi!</p>
</div>