<%- include('header_guest') %>
<div class="content">
    <p><a href="signup">Create a new account</a> or login below.</p>
    <form action="login" method="POST">
        <%- include('validation_messages') %>
        <p>
            <label>Username:
                <input type="text" name="username" value="<%- locals.username || '' %>" maxlength="50" required>
            </label>
        </p>
        <p>
            <label>Password:
                <input type="password" name="password" value="<%- locals.password || '' %>" maxlength="200" required>
            </label>
        </p>
        <p>
            <input type="submit" value="Log in">
        </p>
        <p class="forgot-password-link">
            <a href="/forgot-password">Forgot your password?</a>
        </p>
    </form>
</div>

